PAYMENT_BANK_CODE=ICB
PAYMENT_BANK_NAME=VietinBank
PAYMENT_ACCOUNT_NUMBER=103879213143
PAYMENT_ACCOUNT_NAME=SHOPVN
PAYMENT_TRANSFER_PREFIX=SEVQR
PAYMENT_TRANSFER_TTL_MINUTES=30

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
