@import "tailwindcss";

@theme {
  --font-sans: var(--font-outfit), sans-serif;
  --font-serif: var(--font-playfair), serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-outfit), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FDFAF7;
  color: #222222;
}

input:focus,
button:focus,
select:focus,
textarea:focus {
  outline: none;
}

